<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
 <center>
  <h1> trucks</h1>
  {% if trucks %}
    {% for truck in trucks %}
    <div class="card" style="width: 18rem;">
      <input type="text" readonly value = {{truck.number_plate}} style="text-align: center; font-weight: bolder;" >
      <p>Status: {% if truck.is_signed %}signed{% else %}trucks{% endif %}</p>
      {% if not truck.is_signed %}
      <hr/>
      <hr/>
      <hr/>
      <div>
        <input type="text" style="width: 8rem;">
        <input type="text" style="width: 8rem;">
      <button><a href="{% url 'sign_truck' truck.id %}" class="btn btn-primary">sign</a></button>
      {% endif %}
      <br/>
      <br/>
    </div>
    {% endfor %}
  {% else %}
    <p>No  trucks at the moment.</p>
  {% endif %}
  </center>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>